{% extends 'basecatalog.html' %}

{% block title %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">ADIDAS</h1>
        <p class="lead text-body-secondary">В 1925 основатель копании Адольф Дасслер придумал и сшил футбольные бутсы с шипами, которые выковал для него местный кузнец. Так родилась шипованная спортивная обувь. На данный момент один из самых популярных футборльных брендову мира.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ibb.co/Cw3Vtr9/168.jpg" alt="168" border="0">
            <div class="card-body">
              <p class="card-text">Бутсы X CRAZYFAST+ FIRM GROUND CLEATS</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/adidas/X CRAZYFAST+ FIRM GROUND CLEATS" class="btn btn-sm btn-outline-secondary">Купить</a>
                </div>
                <small class="text-body-secondary">Цена: 28 999 Р</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ibb.co/0QK1gP8/170-1.png" alt="170-1" border="0">
            <div class="card-body">
              <p class="card-text">Бутсы PREDATOR 24 ELITE TURF CLEATS</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/adidas/PREDATOR 24 ELITE TURF CLEATS" class="btn btn-sm btn-outline-secondary">Купить</a>
                <small class="text-body-secondary">Цена: 13 999 Р</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ibb.co/nQ3cR5k/171.png" alt="171" border="0">
            <div class="card-body">
              <p class="card-text">Бутсы SAMBA CLASSIC</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/adidas/SAMBA CLASSIC" class="btn btn-sm btn-outline-secondary">Купить</a>
                <small class="text-body-secondary">Цена: 8 999 Р</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ibb.co/8BGNpLM/172.png" alt="172" border="0">
            <div class="card-body">
              <p class="card-text">Бутсы PREDATOR 24 LEAGUE INDOOR SHOES</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/adidas/PREDATOR 24 LEAGUE INDOOR SHOES" class="btn btn-sm btn-outline-secondary">Купить</a>
                </div>
                <small class="text-body-secondary">Цена: 9 999 Р</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="https://i.ibb.co/88M84Kh/173.png" alt="173" border="0">
            <div class="card-body">
              <p class="card-text">Бутсы X CRAZYFAST LEAGUE FIRM GROUND CLEATS</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/adidas/X CRAZYFAST LEAGUE FIRM GROUND CLEATS" class="btn btn-sm btn-outline-secondary">Купить</a>
                </div>
                <small class="text-body-secondary">Цена: 7 999 Р</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ibb.co/99GjpVz/174.png" alt="174" border="0">
            <div class="card-body">
              <p class="card-text">Бутсы TOP SALA COMPETITION INDOOR SHOES</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/adidas/TOP SALA COMPETITION INDOOR SHOES" class="btn btn-sm btn-outline-secondary">Купить</a>
                </div>
                <small class="text-body-secondary">Цена: 7 999 Р</small>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}