{% extends 'basetovar.html' %}

{% block title %}
    <div class="col-md-6">
        <img src="https://i.ibb.co/K7K60Jw/175.png" alt="175" border="0">
    </div>
    <div class="col-md-6">
        <h2 class="text-black"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">FUTURE 7 ULTIMATE FG/AG FOOTBALL BOOTS</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Плеймейкеры, готовьтесь к БУДУЩЕМУ. Обновленный верх сочетает в себе PWRPRINT, PWRTAPE, эластичный трикотаж и мягкую двойную сетку, что обеспечивает современную адаптивную посадку, чтобы ты мог проявлять свое мастерство без ограничений в течение 90 минут. Система Dynamic Motion System обеспечивает сцепление и маневренность для быстрых изменений направления движения и темпа. Когда ты носишь FUTURE, ты и есть БУДУЩЕЕ. Отправляйся демонстрировать свое мастерство.</font></font></p>
        <p><strong class="text-primary h4"><font style="vertical-align: inherit;"><font color="Coral" face="Franklin Gothic Medium">23 999 Р</font></font></strong></p>
    </div>
{% endblock %}