<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoalKick</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><font size="30" color="Aqua" face="Franklin Gothic Medium">Goal</font><font size="30" color="Coral" face="Franklin Gothic Medium">Kick</font></h1>
        <p class="lead text-body-secondary">Интернет-магазин футбольной обуви</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <a href="/nike"><img src="https://i.ibb.co/XtTSXsv/NikeLogo.png" alt="NikeLogo" border="0"></a>
            <div class="card-body">
              <p class="card-text">NIKE</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="/adidas"><img src="https://i.ibb.co/d019Sjx/photo-5271718008609431124-y-1-1.jpg" alt="photo-5271718008609431124-y-1-1" border="0"></a>
            <div class="card-body">
              <p class="card-text">ADIDAS</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <a href="/puma"><img src="https://i.ibb.co/xG0ctn7/PUMA-Logo-1978-1980-1-1-1.jpg" alt="PUMA-Logo" border="0"></a>
            <div class="card-body">
              <p class="card-text">PUMA</p>
              <div class="d-flex justify-content-between align-items-center">
              </div>
            </div>
          </div>
        </div>

<footer class="text-body-secondary py-5">
  <div class="container">
    <p class="mb-1">При возникновении вопрос вы можете обратиться в поддержку: stfndrf@gmail.com</p>
  </div>
</footer>
<script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>



</body>
</html>