{% extends 'basecatalog.html' %}

{% block title %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">NIKE</h1>
        <p class="lead text-body-secondary">В 1971 году началось футбольное путешествие Nike, выпустив свои первые футбольные бутсы специально для чемпионата мира 1970 года. По сей день эти бутсы пользуются большой популярностью.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ibb.co/KVmpBPx/Nike-Tiempo-10-Pro.png" alt="Nike-Tiempo-10-Pro" border="0">
            <div class="card-body">
              <p class="card-text">Бутсы Nike Tiempo Emerald Legend 10 Pro</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/nike/Nike Tiempo Emerald Legend 10 Pro" class="btn btn-sm btn-outline-secondary">Купить</a>
                </div>
                <small class="text-body-secondary">Цена: 16 999 Р</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ibb.co/ccXdn7B/Nike-Phantom-Luna-2-Elite-SE-1-1.png" alt="Nike-Phantom-Luna-2-Elite-SE-1-1" border="0">
            <div class="card-body">
              <p class="card-text">Бутсы Nike Phantom Luna 2 Elite SE</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/nike/Nike Phantom Luna 2 Elite SE" class="btn btn-sm btn-outline-secondary">Купить</a>
                <small class="text-body-secondary">Цена: 29 999 Р</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ibb.co/yFfR57P/b4fb59c7-903e-4af2-bfb9-9ec7e42f7e30-1.jpg" alt="b4fb59c7-903e-4af2-bfb9-9ec7e42f7e30-1" border="0">
            <div class="card-body">
              <p class="card-text">Бутсы Nike Superfly 9 Academy Mercurial Speed</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/nike/Nike Superfly 9 Academy Mercurial Dream Speed" class="btn btn-sm btn-outline-secondary">Купить</a>
                <small class="text-body-secondary">Цена: 13 999 Р</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ibb.co/2qWftQ3/6ce0c899-3afc-46c1-bf3b-d2a98bc2b61d.jpg" alt="6ce0c899-3afc-46c1-bf3b-d2a98bc2b61d" border="0">
            <div class="card-body">
              <p class="card-text">Бутсы Nike Phantom Luna Elite</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/nike/Nike Phantom Luna Elite" class="btn btn-sm btn-outline-secondary">Купить</a>
                </div>
                <small class="text-body-secondary">Цена: 35 999 Р</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ibb.co/r6bXL8W/9dced6ad-bfed-468c-87cd-91bab9eb39a0.jpg" alt="9dced6ad-bfed-468c-87cd-91bab9eb39a0" border="0">
            <div class="card-body">
              <p class="card-text">Nike Mercurial Superfly 9</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/nike/Nike Mercurial Superfly 9" class="btn btn-sm btn-outline-secondary">Купить</a>
                </div>
                <small class="text-body-secondary">Цена: 12 999 Р</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ibb.co/yFYy15c/a13cff62-1bcc-4b81-b74e-babe9c454156.jpg" alt="a13cff62-1bcc-4b81-b74e-babe9c454156" border="0">
            <div class="card-body">
              <p class="card-text">Nike Tiempo Legend 10 Pro</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/nike/Nike Tiempo Legend 10 Pro" class="btn btn-sm btn-outline-secondary">Купить</a>
                </div>
                <small class="text-body-secondary">Цена: 17 999 Р</small>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}




