{% extends 'basetovar.html' %}

{% block title %}
    <div class="col-md-6">
        <img src="https://i.ibb.co/f1TvTnJ/163.png" alt="163" border="0">
    </div>
    <div class="col-md-6">
        <h2 class="text-black"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nike Tiempo Emerald Legend 10 Pro</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Серьезно относишься к своей игре? Мы производим бутсы Pro для тех, кто хочет вывести свою игру на новый уровень. В честь 30-летия Tiempo эти кроссовки Legend 10 отсылают к старым элементам Tiempo, которые являются частью ДНК Nike, а также к футуристическим текстурам и графике. Добавьте FlyTouch Pro и All Conditions Control (цепкая текстура даже в сырую погоду), и вы готовы оставить свой след на следующие три десятилетия.</font></font></p>
        <p><strong class="text-primary h4"><font style="vertical-align: inherit;"><font color="Coral" face="Franklin Gothic Medium">16 999 Р</font></font></strong></p>
    </div>
{% endblock %}