{% extends 'basetovar.html' %}

{% block title %}
    <div class="col-md-6">
        <img src="https://i.ibb.co/B3rVGyx/0fce6605-d1cc-4d04-a382-5a9ab4f376ac.png" alt="1" border="0">
    </div>
    <div class="col-md-6">
        <h2 class="text-black"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nike Phantom Luna 2 Elite SE</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Одержимы совершенствованием своего мастерства? Мы сделали это для вас. В разгар шторма, когда вокруг вас кружится хаос, вы спокойно нашли последнюю треть поля благодаря своему сверхъестественному сочетанию хитрости и изящества при игре с мячом. Идите и завершите работу в Phantom Luna 2 Elite. Революционная технология Nike Gripknit закрывает ударную зону ботинка, а сцепление Nike Cyclone 360 ​​помогает обеспечить невероятную маневренность. Мы разрабатываем ботинки Elite для вас и крупнейших звезд мира, чтобы обеспечить вам качество высокого уровня, потому что вы требуете величия от себя и своей обуви.</font></font></p>
        <p><strong class="text-primary h4"><font style="vertical-align: inherit;"><font color="Coral" face="Franklin Gothic Medium">29 999 Р</font></font></strong></p>
    </div>
{% endblock %}