{% extends 'basetovar.html' %}

{% block title %}
    <div class="col-md-6">
        <img src="https://i.ibb.co/ky1kxvt/170.png" alt="170" border="0">
    </div>
    <div class="col-md-6">
        <h2 class="text-black"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">PREDATOR 24 ELITE TURF CLEATS</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Вся суть игры в голах, и эти футбольные бутсы созданы для того, чтобы находить ворота. Каждый. Время. Стремитесь к совершенству в совершенно новом Adidas Predator. Верх HybridTouch 2.0 обеспечивает исключительную гибкость. Стратегически расположенные на нем резиновые ласты Strikeskin обеспечивают захват и точность стрельбы. Низкопрофильная межподошва Lightstrike и резиновая подошва с выступами гарантируют, что вы всегда будете готовы к ударам по искусственному газону. Этот продукт состоит как минимум на 20 % из переработанных материалов. Повторно используя уже созданные материалы, мы помогаем сократить количество отходов и нашу зависимость от ограниченных ресурсов, а также уменьшить воздействие продуктов, которые мы производим.</font></font></p>
        <p><strong class="text-primary h4"><font style="vertical-align: inherit;"><font color="Coral" face="Franklin Gothic Medium">13 999 Р</font></font></strong></p>
    </div>
{% endblock %}