{% extends 'basecatalog.html' %}

{% block title %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">PUMA</h1>
        <p class="lead text-body-secondary">Один из самых популярных производителей спортивных товаров, не уступающий своих позиций на мировом рынке с момента основания. Триумфальная история началась после того, как португальский нападающий Эйсебио да Силва Феррейра забил 9 голов за свою сборную в только что разработанных и изготовленных бутсах, что значительно увеличило полпулярность продукта. Бутсы отличаются прочностью и долговечностью.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ibb.co/7VVFNMB/175.png" alt="175" border="0">
            <div class="card-body">
              <p class="card-text">Бутсы FUTURE 7 ULTIMATE FG/AG FOOTBALL BOOTS</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/puma/FUTURE 7 ULTIMATE FGAG FOOTBALL BOOTS" class="btn btn-sm btn-outline-secondary">Купить</a>
                </div>
                <small class="text-body-secondary">Цена: 23 999 Р</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ibb.co/DbKV86L/176-1.png" alt="176-1" border="0">
            <div class="card-body">
              <p class="card-text">Бутсы ULTRA PLAY FG/AG FOOTBALL BOOTS</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/puma/ULTRA PLAY FGAG FOOTBALL BOOTS" class="btn btn-sm btn-outline-secondary">Купить</a>
                <small class="text-body-secondary">Цена: 5 999 Р</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ibb.co/k5YFwKX/177.png" alt="177" border="0">
            <div class="card-body">
              <p class="card-text">Бутсы ULTRA MATCH MXSG FOOTBALL BOOTS</p>
              <div class="d-flex justify-content-between align-items-center">
                <a href="/puma/ULTRA MATCH MXSG FOOTBALL BOOTS" class="btn btn-sm btn-outline-secondary">Купить</a>
                <small class="text-body-secondary">Цена: 4 999 Р</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ibb.co/JtQr1kQ/178.png" alt="178" border="0">
            <div class="card-body">
              <p class="card-text">Бутсы FUTURE 7 MATCH TT FOOTBALL BOOTS</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/puma/FUTURE 7 MATCH TT FOOTBALL BOOTS" class="btn btn-sm btn-outline-secondary">Купить</a>
                </div>
                <small class="text-body-secondary">Цена: 8 999 Р</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img src="https://i.ibb.co/3CZSGGc/179.png" alt="179" border="0">
            <div class="card-body">
              <p class="card-text">Бутсы ULTRA ULTIMATE FG/AG FOOTBALL BOOTS</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/puma/ULTRA ULTIMATE FGAG FOOTBALL BOOTS" class="btn btn-sm btn-outline-secondary">Купить</a>
                </div>
                <small class="text-body-secondary">Цена: 21 999 Р</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://i.ibb.co/TTsJMtM/180.png" alt="180" border="0">
            <div class="card-body">
              <p class="card-text">Бутсы VITORIA TT FOOTBALL BOOTS</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="/puma/VITORIA TT FOOTBALL BOOTS" class="btn btn-sm btn-outline-secondary">Купить</a>
                </div>
                <small class="text-body-secondary">Цена: 3 999 Р</small>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}