{% extends 'basetovar.html' %}

{% block title %}
    <div class="col-md-6">
        <img src="https://i.ibb.co/r0n2ryZ/179.png" alt="179" border="0">
    </div>
    <div class="col-md-6">
        <h2 class="text-black"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">ULTRA ULTIMATE FG/AG FOOTBALL BOOTS</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Именно тогда, когда кажется, что ты уже не можешь бежать быстрее – ты это делаешь. Благодаря технологически совершенному, легкому верху ULTRAWEAVE, ULTRA ULTIMATE выводит свою характерную скорость и ускорение на новый уровень. Применение PWRTAPE опирается на анатомию человеческой стопы, чтобы обеспечить естественную поддержку для быстрого изменения темпа и направления движения. Благодаря двухслойной подошве SPEEDPLATE становится очевидным: ULTRA недостижимо быстры по сравнению с другими.</font></font></p>
        <p><strong class="text-primary h4"><font style="vertical-align: inherit;"><font color="Coral" face="Franklin Gothic Medium">21 999 Р</font></font></strong></p>
    </div>
{% endblock %}