<{% extends 'basetovar.html' %}

{% block title %}
    <div class="col-md-6">
        <img src="https://i.ibb.co/Lt6pLYV/180.png" alt="180" border="0">
    </div>
    <div class="col-md-6">
        <h2 class="text-black"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">VITORIA TT FOOTBALL BOOTS</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Наши футбольные бутсы VITORIA созданы для игроков, которым нужна обувь, не требующая особого ухода, с классическим дизайном, но при этом подходящая для современного стиля игры. Они сочетают в себе мягкий верх с усиленной строчкой для идеального контроля мяча на поле и подошву, которая позволяет делать быстрые движения ногами во время дриблинга.</font></font></p>
        <p><strong class="text-primary h4"><font style="vertical-align: inherit;"><font color="Coral" face="Franklin Gothic Medium">3 999 Р</font></font></strong></p>
    </div>
{% endblock %}