{% extends 'basetovar.html' %}

{% block title %}
    <div class="col-md-6">
        <img src="https://i.ibb.co/vc7Fjc8/173.png" alt="173" border="0">
    </div>
    <div class="col-md-6">
        <h2 class="text-black"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">X CRAZYFAST LEAGUE FIRM GROUND CLEATS</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ничто не сравнится с ощущением чистой скорости. Измените игру в одно мгновение и оставьте защитников позади с помощью легкого Adidas X Crazyfast. Эти футбольные бутсы обеспечивают устойчивость на полном наклоне на сухой натуральной траве благодаря специальной твердой подошве. Имея дополнительные слои только там, где требуется усиление, их текстильный верх с покрытием поставляется с плоским вязаным воротником для надежной фиксации. Этот продукт состоит как минимум на 20 % из переработанных материалов. Повторно используя уже созданные материалы, мы помогаем сократить количество отходов и нашу зависимость от ограниченных ресурсов, а также уменьшить воздействие продуктов, которые мы производим.</font></font></p>
        <p><strong class="text-primary h4"><font style="vertical-align: inherit;"><font color="Coral" face="Franklin Gothic Medium">7 999 Р</font></font></strong></p>
    </div>
{% endblock %}