{% extends 'basetovar.html' %}

{% block title %}
    <div class="col-md-6">
        <img src="https://i.ibb.co/s3x0phQ/169.png" alt="169" border="0">
    </div>
    <div class="col-md-6">
        <h2 class="text-black"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">X CRAZYFAST+ FIRM GROUND CLEATS</font></font></h2>
        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Созданный для скорости, X не просто быстр. Созданный с учетом всех характеристик, необходимых для достижения максимального ускорения, игрок стал еще быстрее.</font></font></p>
        <p><strong class="text-primary h4"><font style="vertical-align: inherit;"><font color="Coral" face="Franklin Gothic Medium">28 999 Р</font></font></strong></p>
    </div>
{% endblock %}